<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boilerplate.server.dao.CustomMapper">
    <select id="countTestUser" parameterType="Map" resultType="java.lang.Integer">
        select count(id) as total
        from test_user
        where sex = #{sex} AND city_id = #{cityId}
    </select>

    <insert id="insertTestUserBatch">
        insert into test_user (username, sex, city_id,mobile, create_time)
        values
        <foreach collection="list" item="user" separator =",">
            (#{user.username}, #{user.sex}, #{user.cityId}, #{user.mobile}, #{user.createTime})
        </foreach>
    </insert>

    <select id="getOrderByOrderId" parameterType="java.lang.Long" resultMap="com.boilerplate.server.dao.UserOrderMapper.BaseResultMap">
        select *
        from user_order
        where order_id = #{orderId}
    </select>

    <select id="getOrderListByCustomerId" parameterType="java.lang.Long" resultMap="com.boilerplate.server.dao.UserOrderMapper.BaseResultMap">
        select *
        from user_order
        where customer_id = #{customerId}
    </select>

    <select id="getOrderItemsByOrderId" parameterType="java.lang.Long" resultMap="com.boilerplate.server.dao.UserOrderItemMapper.BaseResultMap">
        select *
        from user_order_item
        where order_id = #{orderId} and status = 1
    </select>
</mapper>